<nav class="app-sidebar" [class.collapsed]="isCollapsed">
  <span class="micro-label section-label" *ngIf="!isCollapsed">Operations</span>
  <a
    *ngFor="let item of navItems"
    class="nav-item"
    [routerLink]="item.route"
    routerLinkActive="active"
    [matTooltip]="isCollapsed ? item.label : ''"
    matTooltipPosition="right">
    <mat-icon>{{ item.icon }}</mat-icon>
    <span class="nav-label" *ngIf="!isCollapsed">{{ item.label }}</span>
  </a>

  <div class="sidebar-footer" *ngIf="!isCollapsed">
    <span class="micro-label">Data source</span>
    <p>EHM downlink, refreshed every 15 minutes.</p>
  </div>
</nav>
